$cardColorPurple: hsl(263, 55%, 52%);
$cardColorGrey: hsl(217, 19%, 35%);
$cardColorBlack: hsl(219, 29%, 14%);
$cardColorWhite: hsl(0, 0%, 100%);
$cardImageBorderPurple: hsl(268,43%,64%);
$cardImageBorderGrey:hsl(223,15%,32%);
$cardImageBorderBlack: hsl(268,43%,64%);
$cardImageBorderWhite: hsl(0, 0%, 100%);

$colorNeutralDark: hsl(0, 0%, 81%);
$colorNeutralLight: hsl(210, 46%, 95%);

$colorBackground: hsl(212,41%,93%);