@import 'reset';
@import 'responsive';

.App {
    display: flex;
    min-height: 100vh;
    align-items: center;

}

.cardHolder {
    display: grid;
    gap: 1.5rem;
    margin: 4.4375rem 0.625rem 0 0.625rem;

    @include medium {
        grid-template-columns: repeat(2, 1fr);
    }

    @include large {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 1.5rem;
        column-gap: 1.875rem;
        margin: auto;
        max-width: 69.375rem;
    }

}